<app-header></app-header>
<section id="main" class="container-fluid">
  <div class="row">

    <app-breadcrumb title="Game Table" [path]="path"></app-breadcrumb>

    <section class="content-wrapper" id="main-content">
      <div class="content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="error">{{errorMsg}}</div>
            <div class="responsive_table_main responsive_sortable">
              <div class="float-right" style="margin-bottom: 10px; ">
                <a class="btn btn-success" (click)="startGame()" *ngIf="(usersCount >= 2 && isTableOwner) || (gameTable && (usersCount == gameTable.maxPlayers || gameTable.status ==='Started'))">Start Game</a>
                <a class="btn btn-primary" (click)="joinTable()" *ngIf="!isJoined && gameTable && (usersCount < gameTable.maxPlayers)">Join</a>
              </div>
              <table class="table tablesaw tablesaw-stack tablesaw-sortable"
                     data-tablesaw-sortable
                     data-tablesaw-sortable-switch>
                <thead>
                <tr>
                  <th data-tablesaw-sortable-col>
                    ID
                  </th>
                  <th data-tablesaw-sortable-col>
                    User
                  </th>
                  <th data-tablesaw-sortable-col>
                    Status
                  </th>
                  <th data-tablesaw-sortable-col>
                    Actions
                  </th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let tableUser of tableUsers">
                  <td>{{tableUser.id}}</td>
                  <td>{{tableUser.userFirstName}}</td>
                  <td>{{tableUser.status}}</td>
                  <td></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<app-footer></app-footer>
