<app-header></app-header>
<section id="main" class="container-fluid">
  <div class="row">

    <app-breadcrumb title="Game Tables"></app-breadcrumb>

    <section class="content-wrapper" id="main-content">
      <div class="content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="responsive_table_main responsive_sortable">
              <div class="float-right" style="margin-bottom: 10px; ">
                <a class="btn btn-success" routerLink="/create-table">Create Table</a>
              </div>
              <table class="table tablesaw tablesaw-stack tablesaw-sortable"
                     data-tablesaw-sortable
                     data-tablesaw-sortable-switch>
                <thead>
                <tr>
                  <th data-tablesaw-sortable-col>
                    ID
                  </th>
                  <th data-tablesaw-sortable-col>
                    Table Type
                  </th>
                  <th data-tablesaw-sortable-col>
                    Game Type
                  </th>
                  <th data-tablesaw-sortable-col>
                    Table Owner
                  </th>
                  <th data-tablesaw-sortable-col>
                    Game Bet
                  </th>
                  <th data-tablesaw-sortable-col>
                    Players
                  </th>
                  <th data-tablesaw-sortable-col
                      data-tablesaw-sortable-default-col>
                    Status
                  </th>
                  <th data-tablesaw-sortable-col>
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gameTable of gameTables">
                  <td>{{gameTable.id}}</td>
                  <td>{{gameTable.tableType}}</td>
                  <td>{{gameTable.gameType}}</td>
                  <td>{{gameTable.userFirstName}}</td>
                  <td>{{gameTable.bet}}</td>
                  <td>{{gameTable.maxPlayers}}</td>
                  <td>{{gameTable.status}}</td>
                  <td><a class="btn btn-primary" routerLink="/game-table/{{gameTable.id}}">View</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<app-footer></app-footer>
