<section class="content-wrapper" id="breadcrumb">
  <div class="site-content-title">
    <h2 class="float-xs-left content-title-main">{{title}}</h2>
    <ol class="breadcrumb float-xs-right">
      <li class="breadcrumb-item">
        <span class="fs1" aria-hidden="true" data-icon=""></span>
        <a>Home</a>
      </li>
      <li *ngFor="let bc of path" class="breadcrumb-item {{bc.active?'active':''}}">
        <a routerLink="{{bc.link}}" *ngIf="bc.link">{{bc.title}}</a>
        <span *ngIf="!bc.link">{{bc.title}}</span>
      </li>
    </ol>
  </div>
</section>
